<a href="https://colab.research.google.com/github/Subramani0106/Subramani0106/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('/content/gapminder-FiveYearData.csv')

In [47]:
print(df)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [14]:
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [17]:
print(df.shape)

(1704, 6)

In [18]:
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [19]:
print(df.dtypes)

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [22]:
Country_df = df['country']

In [26]:
print(Country_df.tail)

<bound method NDFrame.tail of 0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object>

In [39]:
subset = df[["country","continent","year"]]

In [41]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [42]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [44]:
df.loc[0]

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [46]:
print(df.loc[99])

country      Bangladesh
year               1967
pop          62821884.0
continent          Asia
lifeExp          43.453
gdpPercap    721.186086
Name: 99, dtype: object

In [48]:
print(df.loc[0])

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [8]:
print(df.tail(1))

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [9]:
print(df.iloc[1])

country      Afghanistan
year                1957
pop            9240934.0
continent           Asia
lifeExp           30.332
gdpPercap      820.85303
Name: 1, dtype: object

In [12]:
subset = print(df.loc[:,['year','pop']])

      year         pop
0     1952   8425333.0
1     1957   9240934.0
2     1962  10267083.0
3     1967  11537966.0
4     1972  13079460.0
...    ...         ...
1699  1987   9216418.0
1700  1992  10704340.0
1701  1997  11404948.0
1702  2002  11926563.0
1703  2007  12311143.0

[1704 rows x 2 columns]

In [18]:
small_range = list(range(5))
small_range

[0, 1, 2, 3, 4]

In [22]:
subset = df.iloc[:,small_range]
subset.head()

       country  year         pop continent  lifeExp
0  Afghanistan  1952   8425333.0      Asia   28.801
1  Afghanistan  1957   9240934.0      Asia   30.332
2  Afghanistan  1962  10267083.0      Asia   31.997
3  Afghanistan  1967  11537966.0      Asia   34.020
4  Afghanistan  1972  13079460.0      Asia   36.088

In [24]:
print(df.loc[48,'country'])

Argentina

In [26]:
print(df.iloc[48,0])

Argentina

In [28]:
print(df.iloc[[0,99,999],[0,3,5]])

         country continent    gdpPercap
0    Afghanistan      Asia   779.445314
99    Bangladesh      Asia   721.186086
999     Mongolia      Asia  1226.041130

In [29]:
print(df.loc[[0,99,999],['country','lifeExp','gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [34]:
print(df.loc[10:13,['country','lifeExp','gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [35]:
print(df.head(5))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [40]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64